.mainDiv {
  position: relative;
  min-height: 70vh;
}
.bgVedio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bgVedioContent {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  z-index: 1;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  opacity: 0.5;
}
.promiseText {
  max-width: fit-content;
}
li {
  list-style: none;
}
div a {
  text-decoration: none;
  color: black;
}

.special {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 7rem;
  align-self: flex-end;
  width: 100%;
  font-weight: 700;
  font-size: larger;
}
.buttonMargin {
  margin-bottom: 10rem;
}
.textDiv {
  color: blue;
}
