.image {
  max-height: 20rem;
}
.lineThrough {
  text-decoration: line-through;
  text-decoration-color: brown;
  display: inline-block;
  font-size: 2rem;
}
.productInputField {
  min-width: 5vw !important;
}
.searchBoxDiv {
  max-width: 50%;
  margin-top: 1rem;
}
.searchMain {
  display: flex;
  justify-content: center;
}
