.main {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 20vh;
  background-image: linear-gradient(45deg, #e6df9a, #f3ed9e);
  justify-content: space-between;
}
.copyright {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.formDiv {
  padding-left: 1rem;
  flex-grow: 1;
}
