.middleDiv {
  min-height: 80vh;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  background-color: aquamarine;
}
input[search] {
  border-radius: 10px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
}
